<div class="row mb-5">
  
  <div class="col" *ngFor="let task of dataService.tasks">
    <button type="button" class="btn btn-outline-primary d-block mx-auto" (click)="completeTask(task.id)">{{ task.name }}</button>
  </div>
  
</div>


<!-- <div class="col">
  <button type="button" class="btn btn-outline-primary d-block mx-auto">1</button>
</div>

<div class="col">
  <button type="button" class="btn btn-outline-primary d-block mx-auto">2</button>
</div>

<div class="col">
  <button type="button" class="btn btn-outline-primary d-block mx-auto">3</button>
</div>

<div class="col">
  <button type="button" class="btn btn-outline-primary d-block mx-auto">4</button>
</div> -->