#listHeader {
    box-shadow: 0 0 .3rem rgba(0,0,0,0.3);
    z-index: 2;
    
    #tasksHeader {
        color: #fa5d4e;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
}

#listItem {
    transition: all .3s ease-in-out;
    
    &:hover {
        box-shadow: 0 0 .4rem rgba(red,1);
        transform: scale(1.010);

        #details {
            display: block;
        }
    }
    
    fa-icon {
        cursor: pointer;
    }
    
    #details {
        display: none;

        color: grey;
        font-style: italic;
    }
}