<div class="row">

  <div class="col mb-5">
    <button type="button" class="btn btn-success" (click)="updateEvents()">Update Events</button>
  </div>

  <div class="col">
    <h5>Events:</h5>
    <ul>
      <li *ngFor="let event of eventsInput">{{ event.title }}</li>
    </ul>
  </div>

  <div class="col-12">
    
    <div *ngIf="calendarOptions">
      <!-- <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="eventsInput"></ng-fullcalendar> -->
      <ng-fullcalendar #ucCalendar [options]="calendarOptions"></ng-fullcalendar>
    </div>

  </div>
</div>